<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Phan Bá Đủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/353668886_1138495764219981_6549213069511425615_n.jpg?_nc_cat=102&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ijJVUhO39HQAX-sOL4L&_nc_ht=scontent.fdad1-2.fna&oh=00_AfAEqWIgnoM6vI6evPcmUHmQ8RAtIb5UE2rbFG5Xf3ay8g&oe=648F4A3D" alt="" class="user-img">
          Phan Bá Đủ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
          <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>